.order img{
  width: 150px;
  height: 150px;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 20px;
}
.order{
  border-radius:5px;
  padding: 5px 3px;
  border: 3px solid rgba(54, 102, 114, 0.719);
  
}
@media screen and (max-width: 480px){
  .order{
    border-radius:1px;
    padding: 2px 1px;
    border: 1px solid rgba(54, 102, 114, 0.719);
    
  }
  .order img{
    display: none;
  } 
}