.tea img{
  width: 330px;
  height: 386px;
  padding: 10px;
  border-radius: 5%;
}
.tea{
  border: 5px solid rgba(54, 102, 114, 0.719);
  border-radius: 10px;
  padding: 15px;
}
.btn-cart{
  width: 100%;
  background-color: rgba(59, 85, 94, 0.685);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-text{
  margin-right: 10px;
  color: rgb(7, 8, 8);
  font-weight: 700;
}
.btn-cart:hover{
  background-color: cadetblue;
}
@media screen and (max-width: 480px){
  .tea img{
    width: 200px;
    height: 200px;
    padding: 5px;
  }
  .tea{
    border: 1px solid rgba(54, 102, 114, 0.719);
    border-radius: 10px;
    padding: 0px;
  }
}