header{
  position: fixed;
}

.header-name{
  background-color: rgba(16, 45, 46, 0.863);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left:200px ;
  padding-right: 200px;
}
.header-name img{
  height: 100px;
  width: 200px; 
}
a{
  text-decoration: none;
  margin-right: 30px;
  color: white;
}
a:hover{
  color: rgba(126, 76, 43, 0.76);
}

@media screen and (max-width: 480px) {
  .header-name{
    height: 100px;
    width: 100%;
    padding: 0%;
  }
  .header-name img{
    height: 100px;
    width: 50px; 
     margin-left: 10px;
  }
  .header-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  a{
    margin-right: 10px;
    margin-left: 5px;
    font-size: small;
  }
}